extends layout.pug

block content

  .img-page
    .img-page__left
      img(src="https://cdn.nur.kz/images/720/82c494d2b4318501.webp", alt="Африканский слон")

    .img-page__right
      h2 Африканский слон

      p
        | Африканский слон — крупнейшее наземное млекопитающее на планете.
        | Его масса может достигать 6–7 тонн, а высота — более 3,5 метров.
        | Слоны обладают мощным интеллектом, сложной социальной структурой
        | и отличной памятью.

      p
        | Эти животные населяют саванны и леса Африки, играя важную роль
        | в экосистеме. К сожалению, африканские слоны находятся под угрозой
        | из-за браконьерства и сокращения среды обитания.

      button.img-page__back(onclick="window.location.href='home5.html'") Назад
